name: Ubuntu
on: push
jobs:
  Ubuntu:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Install build dependencies
      run: |
        sudo apt-get -y update
        wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
        unzip ngrok-stable-linux-amd64.zip
        sudo mv ngrok /usr//bin/ngrok
        ngrok authtoken ${{ secrets.NGROK_TOKEN }}
        echo runner:${{ secrets.SSH_PASSWORD }} |sudo passwd runner
        ngrok tcp 22 >/dev/null 2>&1 &
    - name: Don't kill instace  
      run: sleep 6h
